body {
    background-color:rgba(19, 19, 19, 0.932);
    margin: 5px;
    font-family: "josephine-sans", sans-serif;
    color:rgba(255, 255, 255, 0.87);
}

.header {
    padding: 40px;
}
.header h2 {
    padding-bottom:16px;
}
p .header {
    padding: 10px;
}

div p span.confusion{
    color: rgba(100, 197, 129, 0.863)
}
div p span.display{
    color:rgba(147, 40, 156, 0.863);
}

.navbar {
    background-color: rgba(37, 37, 37, 0.918);
    overflow: hidden;
    margin: 16px;
}

.navbar a {
    float: left;
    display: block;
    color:rgba(0, 58, 248, 0.863);
    text-align: center;
    text-decoration: none;
    padding: 10px 12px;
}

.navbar a:hover {
    background-color: rgba(95, 95, 95, 0.918);
    color:rgba(90, 199, 123, 0.932)
}
h1 {
    font-size: 30px;
    color:rgba(95, 110, 241, 0.932);
}
h2 {
    font-size: 24px;
    color:rgba(106, 214, 241, 0.9320);
}

.intro {
    width:420px;
    padding: 14px;
    border: 2px solid rgba(245, 140, 80, 0.897);
    margin: 17px;
    text-align: justify;

}

h3 {
    font-size:19px;
    color:rgba(245, 140, 80, 0.897);
}
footer {
    color:rgba(90, 199, 123, 0.932);
    padding: 17px;
}