body {
    max-width:100%;
    background-color:rgba(19, 19, 19, 0.932);
    margin: 10px;
    font-family: "josephine-sans", sans-serif;
    color:rgba(255, 255, 255, 0.87);
    text-align:center;
}

#navbar {
    max-width:80%;
    text-align:center;
    background-color: rgba(37, 37, 37, 0.918);
    overflow: hidden;
    list-style-type:none;
    margin:0;
    padding:5px;
    align-content:left;
}

.navlink {
    text-align: center;
    display:inline-block;

}
a {
    text-decoration:none;
    padding:40px, 25px;
    color:rgba(0, 58, 248, 0.863);
}

h1 {
    font-size: 28px;
    color:rgba(95, 110, 241, 0.932);
}
h2 {
    font-size: 24px;
    color:rgba(106, 214, 241, 0.9320);
}

#blurb {
    max-width:80%;
    margin:auto;
    border:20px rgb(160, 153, 153);
}

h3 {
    font-size:19px;
    color:rgba(245, 140, 80, 0.897);
}

#top-ten {
    margin:auto;
    text-align:left;
}
#otherlist {
    margin:auto;
    text-align: left;
}

footer {
    margin: 10px;
    color:rgba(100, 197, 129, 0.863)
}